.login-panel {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.center-title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 4rem;
  font-weight: bold;
  color: #2c3e50;
}
.logo-container img{
  height: 180px;
}
